.container-user {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.all-container-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.header-user {
    display: flex;
    width: 100%;
    border-top: 4px solid rgb(201, 201, 0);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1), 0 1px 4px hsla(0, 0%, 0%, 0.1), 0 2px 8px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 22.5%);
    color: white;
    margin-bottom: 5px;
}

.header-user nav {
    width: 100%;
    height: 47px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-user img {
    height: 30px;
}

.header-user #logoDexco {
    width: 150px;
    height: 30px;
    margin-left: 6px;
}

.header-user .input-group-sm {
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: row-reverse;
}

.header-user .input-group-sm button {
    border: none;
    background: rgb(201, 201, 0);
    width: 60px;
    margin-left: 5px;
}

nav .user-details {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 20px;
}

nav .user-details h4 {
    margin: 0;
}

section {
    margin: 0 5px 0 5px;
}

table {
    border: 1px solid gray;
}

thead {
    color: white;
}

thead tr {
    /*border-left:1px solid gray;
    border-right:1px solid gray;
    border-top: 1px solid gray;*/
    border: 1px solid gray;
}
