.container-user {
    display: flex;
    margin: 0;
}
.all-container-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.header-user nav {
    display: flex;
    background: #1c1d1f;
    width: 200px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.header-user img {
    height: 100px;
    margin-top: 30px;
}

thead {
    color: white;
}
